@using Microsoft.AspNetCore.Identity
@using MoodTracker.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@functions {
    public async Task<AppUser> GetCurrentUser()
    {
        return await UserManager.GetUserAsync(User);
    }
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

  


    <li class="nav-item">
            <a asp-page="/Account" class="nav-link" title=" Manage">Account </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
