@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

    var quotes = new List<string>
    {
        "The only way to do great work is to love what you do. – Steve Jobs",
        "The journey of a thousand miles begins with one step. – Lao Tzu",
        "Believe you can and you're halfway there. – Theodore Roosevelt",
        "Don't watch the clock; do what it does. Keep going. – Sam Levenson",
        "The future belongs to those who believe in the beauty of their dreams. – Eleanor Roosevelt",
        "Success is not the key to happiness. Happiness is the key to success. – Albert Schweitzer",
        "You are never too old to set another goal or to dream a new dream. – C.S. Lewis",
        "Act as if what you do makes a difference. It does. – William James",
        "Keep your face always toward the sunshine—and shadows will fall behind you. – Walt Whitman"
    };

    var random = new Random();
    var randomQuote = quotes[random.Next(quotes.Count)];



}

<h1 class="title"><span class="word-colour">MOOD</span>SERVE</h1>
<h3 id="quotes" class="loginH3">@randomQuote</h3>
<div class="row mdlogindiv">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" class="mdformlogin">
                <h2>Login</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="links">
                    <p>
                        <a id="forgot-password"  asp-page="./ForgotPassword">Forgot your password? <span class="sweatyemoji"><i class="fa-regular fa-face-grin-beam-sweat"></i></span></a>
                    </p>
                    <p>
                        <a id="register" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user <span class="happyemoji"><i class="fa-regular fa-face-smile-beam"></i></span></a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation <span class="calmemoji"> <i class="fa-regular fa-face-smile-wink"></i></span></a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
