.logemotionbutton
{
    text-decoration:none;
    background-color:#d9dad9;
    padding:10px;
    font-size:20px;
    
    color:white;
    border-radius:30px;
  
}

.logemotionbutton:hover
{
     
}
.moodform
{
    background-color:#d7e0eb;
    margin-bottom:100px;

}
.moodform h2
{
    text-align:center;
    padding:20px;
}

.moodentryform {
    padding: 30px;
    position:relative;
    left:300px;
}
.moodentryform input,label,button {
    display: block;
    padding:5px;
    width:600px;
}
.moodentryform button
{
    margin-top:30px;
    padding:10px;
    border:none;
    background-color:#0855b1;
    color:white;
    
    border-radius:10px;
}

.timeline {
    position: relative;
    max-width: 600px;
    top: 50px;
    left:390px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #027dc5;
    border-radius: 10px;
}

.timeline-item {
    padding: 20px;
    position: relative;
    background-color: inherit;
    border-left: 2px solid #0855b1;
    margin-bottom: 10px;
}
.timeline-item::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -6px;
    background-color: red;
    border: 2px solid #007bff;
    border-radius: 50%;
    top: 20px;
    z-index: 1;
 }

.timeline-content 
{
    padding: 10px 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
}

.timeline-content h3 
{
    margin-top: 0;
    color:orange;
}

.entrytextarea {
    border: none;
    width: 600px;
    height:200px;
    padding:10px;
    resize: none;
}

.LogOnStreak {
    position:relative;
    left:-10px;
    top:-850px;
    width:50%;
    padding:30px;
    border-radius:10px;
    background-color: #027dc5;

}
.LogOnStreak span
{
    color:orange;
}