.LogOfMoods {
    
    height: auto;
    background-color:#027dc5;
    padding:20px;
    border-radius:10px;
    margin-bottom:100%;
}

.LogOfMoods h1
{
    text-align:center;
    margin:1px;
    padding:40px;
}
.SearchLogs
{
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.SearchLogs input[type=submit]
{
    border:none;
    width:200px;
    background-color:#d9dad9;
    color:white;
    position:relative;
    left:89px;
    padding:5px;
    font-size:16px;
    border-radius:10px;
}
.SearchLogs input[type=submit]:hover
{
    background-color:darkblue;
}
.SearchLogs #dateonlyinput
{
    width:400px;
    text-align:center;
    top:-50px;
    border:none;
    padding:10px;
    position:relative;
    left:400px;
}
.logs {
    background-color: #d7e0eb;
    border-radius: 20px;
    margin-bottom: 10px;
}
.logs h3
{
    padding:30px;
    color:darkblue;
    text-align:center;
}
.logs h4
{
    font-size:20px;
    padding:5px;
    color:white;
    font-weight:400;
    text-align:center;
}
.logs p
{
    font-family: sans-serif;
    padding:12px;
    color:cornflowerblue;

}
.mini-title
{
    color:midnightblue;
    font-size:16px;
}
