html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color:white;
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Oswald", sans-serif;
    color:white;
}

.mynav  {
    background-color: #027dc5;
    color:white;
    margin-bottom: 40px;
}

.mynav li a
{
    color:white;
}

.mynav li a:hover
{
    color:whitesmoke;
    background-color :darkblue;
}

.mynav .logo 
{
    color:white;
    border-right:2px solid white;
    padding:10px;
}


#logout
{
    background-color:red;
    position:relative;
    left:650px;
    width:70px;
    color:white;
    border:none;
    font-size:14px;
}

#logout:hover
{
    background-color:darkred;
}

.privacy_policy {
    max-width: 800px;
    margin: auto;
    background: #a0c3e2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom:100px;
}