@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
  
    <a class="logemotionbutton" target="_blank" asp-page="/MoodForm">New Emotion? Click here to log</a>


    <div class="chart">
        <h2>Your emotion log</h2>

    </div>

</div>
