@page
@model MoodTracker.Pages.MoodFormModel
@{
}


<div class="moodform">

    <h2>Enter the details about your mood below</h2>
    <form method="post" class="moodentryform">
        <input type="text" value="@Model.userId" readonly/>


        <label asp-for="@Model.mood.MoodName">Enter the mood you felt</label>
        <input type="text" placeholder="Enter your feeling in one word" required/>

        <label asp-for="@Model.mood.MoodDescription"></label>
        <input type="text" placeholder="Describe what led to this mood?" required />

        <label asp-for="@Model.mood.MoodColour">What colour best decipts your mood</label>
        <input type="text" placeholder="Enter the colour that best describes your mood" />

        <button type="submit">Submit Mood Entry</button>





    </form>


</div>
