@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy_policy">
    <h1>Privacy Policy</h1>
    <p>Last updated: 23/07/2024</p>

   

    <h2>Information Collection and Use</h2>
    <p>We collect and use personal information solely for the purposes of user registration and customization. No third-party services are involved, and we do not share your data with anyone.</p>

    <h3>Types of Data Collected</h3>

    <h4>Personal Data</h4>
    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). This information may include, but is not limited to:</p>
    <ul>
        <li>Email address</li>
        <li>First name and last name</li>
        <li>Username</li>
     
    </ul>

    <h2>Use of Data</h2>
    <p>We use the collected data for the following purposes:</p>
    <ul>
        <li>To provide and maintain our Service</li>
        <li>To manage your registration as a user of the Service</li>
        <li>To allow you to personalize your experience on our Service</li>
        <li>To notify you about changes to our Service</li>
        <li>To provide customer support</li>
    </ul>

    <h2>Data Security</h2>
    <p>The security of your data is important to us. We implement appropriate technical and organizational measures to protect your personal data from unauthorized access, use, or disclosure.</p>

    <h2>Your Data Protection Rights</h2>
    <p>You have the right to access, update, or delete the information we have on you. If you wish to exercise any of these rights, please contact us.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us:</p>
    <ul>
        <li>By email: shivamissar06@gmail.com</li>
    </ul>
</div>