@page
@model MoodTracker.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";
}


<div class="emergency_help">
    <h5>If you're or someone you know is in danger or has sucidal thoughts seek help immediately by calling 911 or local emergency number</h5>
</div>

<div class="local_resources">
    <div class="urgent_help">
        <i class="fa-solid fa-phone" id="phone_icon"></i>
        <h6>Urgent help hotline call 111</h6>
    </div>
    <div class="support_group">
        <i class="fa-solid fa-user-group" id="support_group"></i>
        <h6> Find support groups near using this <a href="https://www.mind.org.uk/information-support/local-minds/">link</a> </h6>
    </div>
   <hr />

   <div class="other_resources">
       <h4>Other resources</h4>
   </div>


</div>
