@page
@model MoodTracker.Pages.ResourcesModel
@{
    ViewData["Title"] = "Resources";
}


<div class="emergency_help">
    <h5>If you're or someone you know is in danger or has sucidal thoughts seek help immediately by calling 911 or local emergency number</h5>
</div>

<div class="local_resources">
    <div class="urgent_help">
        <i class="fa-solid fa-phone" id="phone_icon"></i>
        <h6>Urgent help hotline call 111</h6>
    </div>
    <div class="support_group">
        <i class="fa-solid fa-user-group" id="support_group"></i>
        <h6> Find support groups near using this <a href="https://www.mind.org.uk/information-support/local-minds/">link</a> </h6>
    </div>
   <hr />

    <div class="other_resources">
        <h3>Other resources</h3>
        <hr />
        <div class="counselors">
            <h4>Counselors</h4>
            <p>To get one-to-one help, reach out to our professional counselors. They are available to provide support and guidance tailored to your specific needs. Our counselors are trained to help you navigate through your challenges and achieve your personal goals. Find a counselor through <a href="https://www.psychologytoday.com/us/therapists">Psychology Today</a>.</p>
        </div>

        <div class="international_help">
            <h4>International Help</h4>
            <p>We offer a range of resources for international users. Whether you need assistance in a different language or help finding services in your region, our international help section is here to support you. Connect with global resources and find the support you need no matter where you are located. Visit <a href="https://www.iasp.info/resources/Crisis_Centres/">International Association for Suicide Prevention</a> for a list of crisis centers worldwide.</p>
        </div>

        <div class="mental_health_resources">
            <h4>Mental Health Resources</h4>
            <p>Access articles, videos, and online courses about mental health. These resources are designed to provide you with knowledge and strategies to improve your mental well-being. Visit <a href="https://www.mentalhealth.gov/">MentalHealth.gov</a> for more information.</p>
        </div>
        <div class="wellness_programs">
            <h4>Wellness Programs</h4>
            <p>Explore our wellness programs that include yoga, meditation, fitness, and nutrition plans. These programs are designed to help you maintain a healthy and balanced lifestyle. Start with <a href="https://www.headspace.com/">Headspace</a> for meditation and mindfulness.</p>
        </div>
        <div class="self_help_tools">
            <h4>Self-Help Tools</h4>
            <p>Discover various self-help tools, including mental health apps, journaling prompts, and relaxation techniques. These tools can help you manage stress and improve your mental health on your own. Try the <a href="https://www.calm.com/">Calm App</a> for relaxation and sleep.</p>
        </div>
        <div class="peer_support_groups">
            <h4>Peer Support Groups</h4>
            <p>Join peer support groups to connect with individuals who understand what you're going through. Share experiences, offer support, and build a network of peers who can relate to your journey. Visit <a href="https://www.supportgroups.com/">SupportGroups.com</a> to find a group that fits your needs.</p>
        </div>


    </div>
</div>
